body{
    background: url(../Imagenes/DSC_0039_1400x1400\ prueba.webp);/* Aplico el fondo y modifico el tamaño*/
    background-size: cover;/*MODIFICO EL TAMAÑO*/
    text-align: center;
}
h1,h2,h3,h4,h6
{color: rgb(245, 241, 241);/* COLOR DE LETRAS */
    font-size: 42px;}

img{
    border-radius: 85px; /* REDONDEO DE BORDE*/

}
p{font-size: 18PX;color:rgb(83, 5, 5);
background-color: rgb(198, 182, 230);}
video{font-size: 550px;}